---
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	<header>
		<section class="page-header">
		  <h1 class="project-name"><a href="/" style="color: white;">factors</a></h1>
		  <h2 class="project-tagline">Personal webpage for Kevin Rose.</h2>
		</section>
	</header>
	<section class="main-content">
		{% for project in site.projects %}
			<article>
				<a href="{{ site.base_url }}{{ project.url }}">
					<h2>{{ project.title }}</h2>
					<img src="{{ project.img }}">
				</a>
			</article>
		{% endfor %}
		{% include footer.html %}
	</section>
</body>
</html>
